[submodule "third_party/jquery-miniColors"]
	path = third_party/jquery-miniColors
	url = https://github.com/binji/jquery-miniColors.git
[submodule "build/ninja-wrap"]
	path = build/ninja-wrap
	url = https://github.com/binji/ninja-wrap
